.portfolio-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  font-family: 'Inter', sans-serif;
  font-size: 0.85rem;
}

.nav-links {
  display: flex;
  gap: 30px;
  margin-left: auto;
  margin-right: auto;
}

.portfolio-navbar a, .logout-link-btn {
  color: #2e1065;
  text-decoration: none;
  font-weight: 500;
  transition: opacity 0.2s ease;
}

.logout-link-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 0.85rem;
}

.portfolio-navbar a:hover, .logout-link-btn:hover {
  opacity: 0.7;
}

.nav-tab-btn { 
  background: none; 
  border: none; 
  cursor: pointer; 
  font-size: 0.85rem; font-family: "Inter", sans-serif; 
  color: #2e1065; 
}

.nav-tab-btn:hover, .logout-link-btn:hover { 
  opacity:0.7;
}

.nav-tab-btn.active-tab {
  font-weight: bold;
  text-decoration: underline;
}