.project-card {
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 35px;
  padding: 25px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 250px;
  border-color: #0f0f0f;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
}

.project-card-title {
  font-family: 'Days One', sans-serif;
  color: #000000;
  font-size: 2rem;
  margin-bottom: 5px;
}

.project-card-illustration {
  margin: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


.project-brand-box {
  background-color: #0f172a;
  color: #ffffff;
  font-family: 'Days One', sans-serif;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 4px;
}

.project-emoji-icon {
  font-size: 5rem;
}

.project-card-desc {
  font-family: 'JetBrains Mono', monospace;
  color: #363e48;
  font-size: 1.2rem;
  line-height: 1.4;
  margin-top: 15px;
}
