.project-detail-container {
  max-width: 1600px;
  width: 95%;
  margin: 0 auto;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail-top-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 100%;
  flex-wrap: wrap; /* allow wrapping on small screens */
}

.detail-actions-row {
  display: flex;
  flex-direction: row;      
  align-items: center;
  justify-content: center;
  gap: 25px;
  width: 100%;
  max-width: 450px;
  margin-top: 20px;
}